* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #444;
    color: #FFF;
    width: 90%;
    margin: 20px auto;
}

header {
    margin: 20px auto;
    float: left;
    width: 100%;
    background: #ff0000;
}

header h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
}

header img {
    width: 145px;
}

header div {
    float: left;
}

nav {
    clear: both;
    background: yellow;
    height: 70px;
    margin: 20px auto;
    overflow: hidden;
}

nav h2 {
    font-size: 30px;
    text-align: center;
    color: #444;
}

nav ul{
    font-size: 20px;
    list-style: none;
}

nav ul li{
    float: left;
}

nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #444;
    text-decoration: none;
}

nav ul li a:hover {
    background: #75ACEC;
}

.main {
    box-sizing: border-box;
    padding: 20px;
    width: 68.5%;
    margin-right: 1.5%;
    height: 500px;
    float: left;
    background: blue;
    margin-bottom: 20px;
}

.main .articles article {
    padding: 20px;
    background: #6f00ca;
    margin-bottom: 10px;
}

.main h2 {
    font-size: 40px;
    text-align: center;
}

.main h3 {
    margin: 10px auto;
    font-size: 20px;
    text-align: right;
}

.main h4 {
    margin: 10px auto;
    font-size: 20px;
    text-align: left;
}

.main p {
    font-size: 15px;
    text-align: justify;
}

aside {
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    height: 500px;
    background: green;
    float: left;
    margin-bottom: 20px;
}

aside h2 {
    font-size: 40px;
    text-align: center;
}

aside p {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}

footer{
    margin-top: 20px;
    background: #000;
    clear: both;
}

footer h2 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}

#PagSig a{
    background: #FFF;
    color: #ff0000;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    font-style: italic;
    float: inline-end;
    margin: 15px;
}

#PagSig a:hover {
    background: rgb(98, 121, 253);
}

#PagAnt a{
    background: #FFF;
    color: #ff0000;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    font-style: italic;
    float: inline-start;
    margin: 15px;
}

#PagAnt a:hover {
    background: rgb(98, 121, 253);
}

#imagenProyector {
    width: 500px;
}